<div class="Projinfo">
    <table class="tblProj">
        <tr>
            <th colspan="2">Project Information</th>
        </tr>
        <tr>
            <td>Name</td>
            <td>Virtual Assistant</td>
        </tr>
        <tr>
            <td>Language</td>
            <td>Python</td>
        </tr>
        <tr>
            <td>Framework</td>
            <td>None</td>
        </tr>
        <tr>
            <td>Amount of Hours</td>
            <td>10hrs</td>
        </tr>
        <tr>
            <td>Num. of people</td>
            <td>1</td>
        </tr>
    </table>
</div>

<h1 class="h1Proj">About Project</h1>
<p>
</p>

<h1>Planning</h1>
<h2>Steps to flilow</h2>
<p>These are steps written before the start of the project and is updated throughout the project.</p>
<br>
<ul class="steps">
</ul>

<h1>Notes taken while working</h1>
<p>

</p>
