<div class="Projinfo">
    <table class="tblProj">
        <tr>
            <th colspan="2">Project Information</th>
        </tr>
        <tr>
            <td>Name</td>
            <td>E-Commerce Website</td>
        </tr>
        <tr>
            <td>Language</td>
            <td>HTML, CSS, C#</td>
        </tr>
        <tr>
            <td>Framework</td>
            <td>ASP.NET</td>
        </tr>
        <tr>
            <td>Amount of Hours</td>
            <td>48hrs or more</td>
        </tr>
        <tr>
            <td>Num. of people</td>
            <td>2</td>
        </tr>
    </table>
</div>

<h1 class="h1Proj">About Project</h1>
<p>
    My friend and I decided to make an E-commerce website.
    A project to test my front-end and back-end skills. Create a website using HTML5, CSS3 and Javascript for a potential way to either make an income or gain experience in Web-development.
</p>
<br>
<p>
    This is a possible business path selling majority health products.
    The plan is to incorperate whatever products we can find that is available to sell.
</p>

<h1>Planning</h1>
<h2>Steps to flilow</h2>
<p>These are steps written before the start of the project and is updated throughout the project.</p>
<br>
<ul class="steps">
    <li>Browse the internet for design ideas</li>
    <li>Design the Web-pages using any design tool</li>
    <li>Get all dimensions for the sizing of page elements</li>
    <li>Code all Views for the controllers according to the dimensions of the design</li>
    <li>Find products to sell</li>
    <li>Create database</li>
    <li>Create table in database to save a list of all the products</li>
    <li>Create table in database to save a list of all the people that create an account</li>
    <li>Create "Login" and "Create an account" Controllers and Views</li>
    <li>Create a connection between the database and the web-app using a Modals</li>
    <li>Code the validation for the login and create an account in the contrliler</li>
    <li>Set up any cybersecurity needed to protect users account details</li>
    <li>Code the shopping cart, need to make the cart save all products added to the cart</li>
    <li>Get payment details and set up security features to protect the payment details</li>
</ul>
<br>

<h1>Notes taken while working</h1>
<p>
    I find that designing is not my strong suit. I will need to find design templates that I can base my design off of. This way it will be easier
    to make the pages look better and more professional. I will need to study some front-end development to get the colours and sizing right, so the website can catch the attention
    of the users more.<br>
    I started coding this program in just plain Html, CSS and Javascript inside VS code.
    I now realise it will be much easier if I use a framework. I am going to use asp.net, because I was recently taught how to use it in my studies.
    A framework will not only help with the design, but also with the using of variables later on.<br>
    For the creating and managing of databases I will be using Microsoft SQL Server Management Studio 18. The reason why is because it is the easiest to use
    and the makes it way less complicated to connect to asp.net.
</p>
<p>

</p>
