

            <div class="PortfolioCard">
                <p>
                    <span class="headspan">E-Commerce Website</span>
                    <span class="bodyspan">A project to test my front-end and back-end skills. Create a website using HTML5, CSS3 and Javascript for a potential way to either make an income or gain experience in Web-development.</span>
                    <a><span>Show more</span></a>
                </p>
                <p>
                    <span class="headspan">Lidar with Arduino</span>
                    <span class="bodyspan">Using a lidar to calculate the distance of a water-pipe. The idea is to attach the lidar to a little remote controlled car that will drive down the pipe,using mathematical equations to find the width, distance and possible cracks within the pipe</span>
                    <a><span>Show more</span></a>
                </p>
                <p>
                    <span class="headspan">Website for Artists</span>
                    <span class="bodyspan">This was an idea to test my skills once again in Web-development. The aim of this project was to create a website for artists to brand themselves. Created for artists in music to painting. For people that need a platform to showcase their talents in any industry. </span>
                    <a><span>Show more</span></a>
                </p>
                <p>
                    <span class="headspan">Virtual Assistant</span>
                    <span class="bodyspan">I wanted to put my Python skills to the test in this project. I realize now its not just Python thats needed, but physics as well. Creating a virtual assistant from scratch without the use of API's or any Libaries just to make the task more of a challenge.</span>
                    <a><span>Show more</span></a>
                </p>
            </div>

